* {
  padding: 0px;
  margin: 0px;
  font-family: Times;
  font-size: 14px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 26px;
}

h2 {
  font-family: Genevaf;
  font-size: 16px;
  background-color: rgb(255, 217, 50);
  padding: 5px 0px;
  text-align: center;
}

h3 {
  font-family: Genevaf;
  font-size: 16px;
  padding: 10px 0px;
  text-align: center;
}

label {
  display: inline-block;
  width: 180px;
  padding: 0px 10px;
  text-align: right;
  vertical-align: top;
}

div {
  margin-bottom: 10px;
}

span {
  font-family: Georgia;
  margin-left: 5px;
}

.loginform {
  background-color: rgb(253, 253, 156);
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  margin-top: 50px;
  padding: 0px 0px 30px 0px;
}

.return-contest {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 14pt;
}

.footer {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 8pt;
  font-family: Georgia;
}

#quantity {
  margin-top: 22px;
}

#quantity2,
#quantity3,
#quantity4 {
  margin-left: 184px;
  font-size: 10pt;
}
#btn {
  margin-left: 184px;
}
