* {
  padding: 0px;
  margin: 0px;
  font-family: Times;
  font-size: 14px;
  box-sizing: border-box;
}

h1 {
  font-family: Genevaf;
  font-size: 16px;
  background-color: rgb(255, 191, 53);
  padding: 5px 0px;
  text-align: center;
}

h2 {
  font-family: Genevaf;
  font-size: 16px;
  padding: 10px 0px;
  text-align: center;
}

label {
  display: inline-block;
  width: 180px;
  padding: 5px 10px;
  text-align: right;
  vertical-align: top;
}

div {
  margin-bottom: 10px;
}

span {
  font-family: Georgia;
  margin-left: 5px;
}

.loginform {
  background-color: rgb(255, 255, 121);
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
  margin-top: 50px;
  padding: 0px 0px 30px 0px;
}

#quantity1 {
  margin-top: 22px;
}

#quantity {
  margin-left: 184px;
  font-size: 10pt;
}
#btn {
  margin-left: 185px;
}
